.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0 92px 0;
  background-color: #2a2c2f;
  max-width: 1280px;
  margin: auto;
}

.header__title {
  margin: 40px 0 32px 0;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  max-width: 793px;
  font-family: "Inter-black", "Arial", sans-serif;
}

.header__subtitle {
  font-size: 30px;
  line-height: 1.2;
  max-width: 720px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding-bottom: 64px;
}

.header__image {
  width: calc(100% - (148px * 2));
}

@media screen and (max-width: 768px) {
  .header {
    padding: 32px 0 88px 0;
  }
  .header__title {
    max-width: 720px;
  }

  .header__image {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .header {
    padding: 20px 0 64px 0;
  }
  .header__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    margin: 50.15px 0 16px 0;
  }

  .header__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 40px;
  }
  .header__image {
    width: 100%;
  }
}
